.logo {
  color: $accent-color;
  font-family: 'raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__black {
  color: $logo-black;
}
.logo__white {
  color: $white-color;
}