.section {
  padding: 94px 0;
  
  &__no-pading-top {
    padding-top: 0;
  }

  &__team-background {
    background-color: $secondary-background-color;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    letter-spacing: 0.03em; 
  }

  &__title--visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}